.bg{
    background-image: url(/bg.jpeg);
    background-size: contain;
    position: fixed;
    height: 100vh;
    top: 70px;
    z-index: -1;
    width: 100vw;
}
.splash-img{
    position: fixed;
    bottom: -35px;
    width: 100vw;
}
.loading-screen {
  width: 100vw;
  height: 100vh;
  background-color: #fef301;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  font-family: sans-serif;
  z-index: 1000;
}

.loading-logo {
  width: 190px;
  height: auto;
}

.spinner {
  width: 38px;
  height: 38px;
  border: 5px solid rgba(0, 0, 0, 0.2);
  border-top-color: #000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loading-text {
  font-size: 1rem;
  font-weight: 600;
  color: #000;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
