* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Carter One", system-ui;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  display: block;
}
